.feedback {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .feedback-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  
  }
  
  .feedback-box {
    display: flex;
    align-items: center;
    height: 180px;
    width: 438px;
    background-color: #2d0d0d;
    /*background-color: #570303;*/
    margin-top: 60px;
    padding: 10px;
    margin-right:10px;
    border: 2px solid #fafafa
  }
  
  .feedback-text {
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 5px;
  }
  
  .feedback-author {
    font-style: italic;
    color: #ebe8e8;
  }
  
  .feedback-form {
    width: 500px;
    height: 50px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
  
  .feedback-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    font-size: 20px;
    font-style: bold;
    width: 200px;
    margin-left: 20px;
    padding: 10px 20px;
    background: transparent;
    color: rgb(158, 205, 247);
    border-color: rgb(108, 167, 219);
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    color: white;
    background-color: #3a668e; 
  }
  .delete-button {
    display: block;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #d17206;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #cc0000;
  }
  @media(max-width: 1280px) {
    .feedback-box {
        width: 400px;
    }
}

@media(max-width: 1024px) {
    .feedback-box {
        width: 350px;
    }

    .feedback-input {
        width: 80%;
    }

    .submit-button {
        width: 150px;
    }
}

@media(max-width: 800px) {
    .feedback-box {
        width: 300px;
    }
}

@media(max-width: 500px) {
    .feedback-box {
        width: 250px;
    }
}